# Default ignored files
/../../EvenNumberFilter./.idea/shelf/
/../../EvenNumberFilter./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../EvenNumberFilter./.idea/httpRequests/
# Datasource local storage ignored files
/../../EvenNumberFilter./.idea/dataSources/
/../../EvenNumberFilter./.idea/dataSources.local.xml
